                             Printing

In [1]:
print("The integer Eqivalent of" , False ,"is",0)

The integer Eqivalent of False is 0

In [2]:
x=91.234566
print("The value of x upto 3 decimal points is {:.3f}".format(x))

The value of x upto 3 decimal points is 91.235

In [3]:
y= "Ahmed"
x="Nader"
print("{1} and {0} Watch AL Ahly match".format(x,y))

Ahmed and Nader Watch AL Ahly match

In [6]:
age=input("Enter your age:")
print("In 2005, you were",int(age)-5,"years old")

Enter your age:22
In 2005, you were 17 years old

                                         Operators
                                         
                               Arithmetic operators:
"**"(Exponent),"%"(modulo or remainder), "//"(quotient), "*"(multiplication), "-"(subtraction) , "+" (addition)

In [9]:
(((19+22)*23)/99-20)

-10.474747474747474

                              Comparison operators:
> : Greater than ,
< : Less than ,
<=: Less than or equal to ,
>=: Greater than or equal to ,
== : equality. Please note that this is different from the assignment 
operator (=) ,
!=(not equal to).

In [1]:
(20>18) and (84>25)

True

In [2]:
(2>1) or (1>3)

True

In [3]:
not(1>2)

True

                                       Assignment operators:
= (assigns a value to a variable),
+= (adds the value on the right to the operand on the left),
-= (subtracts the value on the right from the operand on the left),
*= (multiplies the operand on the left by the value on the right),
%= (returns the remainder after dividing the operand on the left by 
the value on the right),
/= (returns the quotient, after dividing the operand on the left by the 
value on the right),
//= (returns only the integer part of the quotient after dividing the 
operand on the left by the value on the right) .

In [9]:
x=9
x+=7
x-=9
x*=9
x%=5
x/=2
x//=6

In [12]:
#Identity operators (is and not is)
x=7
y=x
z=y
x is z

True

In [14]:
#Membership operators (in and not in)

'a' in 'and'
'e' in 'Ahmed'
'y' in 'Atala'

False

In [16]:
#Data types
type(3.14)
type(2023)
type("Ahmed")

str

In [17]:
#Working with Strings
x = "Al Ahly is the best club in the world"
z='''Today is SAT.
Tomorrow is SUN'''

In [18]:
len('Ahmed Ebrahim')

13

In [19]:
x='mo Salah'
x[3]

'S'

In [20]:
x='mo Salah'
x[2:]

' Salah'

In [21]:
z = "Atala"
z[::-1]#reversing the string, the last character has an index -1

'alatA'

In [22]:
'LIVERPOOL'.lower()

'liverpool'

In [23]:
'omar'.startswith('m')

False

In [24]:
'        mohamed'.lstrip()

'mohamed'

In [25]:
'9'.isdigit()#to check for digits

True

In [26]:
'1999'.isdigit()#to check for digits

True

In [27]:
' '.join(['Ahmed','Ebrahim','Atala','is','funny'])

'Ahmed Ebrahim Atala is funny'

In [28]:
'Ahmed Ebrahim Atala is funny'.split()

['Ahmed', 'Ebrahim', 'Atala', 'is', 'funny']

In [29]:
#Conditional statements
a = 1999
b = 2023
if b > a:
  print("b is greater than a")

b is greater than a

In [30]:
a = 1999
b = 1999
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [31]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [32]:
x = 23
if x > 15:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [33]:
#Loops
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [34]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [35]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [37]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [40]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

In [41]:
for x in range(4):
  print(x)
else:
  print("done!")

0
1
2
3
done!

In [42]:
#Functions
def my_function():
  print("GO away")

In [44]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [45]:
def my_function(x):
  return 9 * x

print(my_function(8))
print(my_function(4))
print(my_function(25))

72
36
225

In [47]:
#list
colors=['violet','indigo','red','blue','green','yellow']
colors.append('white')
colors.insert(3,'pink')
colors.extend(['purple','magenta'])
colors.index('violet')

0

In [48]:
#Tuples
thistuple = ("omar", "mhmd", "atala")
print(thistuple)

('omar', 'mhmd', 'atala')

In [49]:
thistuple = ("omar", "mhmd", "atala")
print(len(thistuple))

3

In [50]:
#sets
thisset = {"ammar", "ahmed", "atala","mhmd"}
print(thisset)

{'atala', 'ahmed', 'ammar', 'mhmd'}

In [51]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [56]:
#Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["brand"]

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018